<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto mt-3">
    <form name ="createform" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="Image">Img</label>
        </div>
        <div class="filetype-input col-9">
        <input type="file" class="form-control" id="Image" placeholder="Image" name="Image">
        <input type="text">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="origin">Origin</label>
        </div>
        <div class="col-9">
        <input type="text" class="form-control" id="origin" placeholder="place" name="start">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="destination">Destination</label>
        </div>
        <div class="col-9">
        <input type="text" class="form-control" id="destination" placeholder="place" name="Destination">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="price">Price</label>
        </div>
        <div class="col-9">
        <input type="text" class="form-control" id="price" placeholder="price" name="Price">
      </div>
      </div>
      <button class="btn btn-primary" type="submit">submit</button>
      
    </form>
  </div>
  </div>
</div>
<script>
$(document).ready(function (){
  $('.filetype-input input[type="file"]').change(function(c){
    $(this).sibilings('input[type="text"]').val(c.target.files[0].name);
  });
});
</script>
