<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto mt-3">
    <form name>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="Image">Img</label>
        </div>
        <div class="col-9">
        <input type="file" class="form-control" id="Image" placeholder="Image" name="Image">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="origin">Origin</label>
        </div>
        <div class="col-9">
        <input type="text" class="form-control" id="origin" placeholder="place" name="start">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="destination">Destination</label>
        </div>
        <div class="col-9">
        <input type="text" class="form-control" id="destination" placeholder="place" name="Destination">
      </div>
      </div>
      <div class="form-group row">
        <div class="col-3 mt-1">
        <label for="price">Price</label>
        </div>
        <div class="col-9">
        <input type="text" class="form-control" id="price" placeholder="price" name="Price">
      </div>
      </div>

      
    </form>
  </div>
  </div>
</div>
